<div id="welcome-container" class="bg-image-container">
	<div class="text-center">Welcome to Dr.A.P.J.Abdul Kalam Library</div>
	<a class="btn mb-3" href="/auth/student-login">Student/Faculty/Others Login</a>
	<a class="btn" href="/auth/admin-login">Admin Login</a>
</div>